.networkControl {
	width: 100dvw;
}

.networkSegement {
	width: 400px;
}

.setupHeader {
	width: 100dvw;
	line-height: 100px;
}

.simulationController {
	margin-inline: 1rem;
	min-width: 175px;
}

.scrollContainer {
	width: 100dvw;
	overflow-x: auto;
	white-space: nowrap;
	padding-inline: 2rem;
}

.networkFlex {
	min-width: max-content;
}

.networkContainer {
	min-height: 500px;
}

.headerSpacer {
	max-width: 150px;
}

.networkSelectMenu {
	margin-inline: 0.5rem;
	background: var(--background);
	min-width: 175px;
}
