.networkControl {
	width: 100dvw;
}

.networkSegement {
	width: 400px;
}

.container {
	background-color: var(--background);
	display: flex;
	flex-direction: column;
}

.setupHeader {
	width: 100dvw;
}

.optimizerWebDiagramContainer {
	width: 100dvw;
	min-height: 500px;
	padding: 2rem;
}

.optimizerWebDiagramFrame {
	width: 100%;
	height: 100%;
	border: 1px solid black;
  overflow-x: auto;
	padding: 2rem;
}

.optimizerWebDiagramLayer {
  min-width: 200px;
	height: 100%;
}

.optimizerNetworkNode {
	min-width: 375px;
	min-height: 60px;
}

.simulationController {
	margin-inline: 1rem;
	min-width: 175px;
}

.networkCompareContainer {
	width: 100%;
	min-height: 500px;
	padding-inline: 2rem;
}

.networkCompareFrame {
	width: 100%;
	height: 100%;
	overflow-x: auto;
}

.networkCompare {
  min-width: 600px;
	height: 100%;
}

.scrollContainer {
	width: fit-content;
	height: 100%;
  gap: 1rem;
  padding: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.networkContainer {
	min-height: 500px;
}

.headerSpacer {
	max-width: 150px;
}

.networkSelectMenu {
	margin-inline: 0.5rem;
	background: var(--background);
	min-width: 175px;
}
