.networkControl {
	width: 100dvw;
}

.networkSegement {
	width: 400px;
}

.container {
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	overflow-x: scroll;
}

.setupHeader {
	width: 100dvw;
}

.simulationController {
	margin-inline: 1rem;
	min-width: 175px;
}

.scrollContainer {
	overflow-x: scroll;
	padding-bottom: 1rem;
	width: fit-content;
	flex-grow: 1;
}

.networkFlex {
	min-width: max-content;
}

.networkContainer {
	min-height: 500px;
}

.headerSpacer {
	max-width: 150px;
}

.networkSelectMenu {
	margin-inline: 0.5rem;
	background: var(--background);
	min-width: 175px;
}
