.page {
  width: 100dvw;
}

.headerStyle {
  text-align: center;
  padding-inline: 0;
  background-color: var(--background);
}

.contentStyle {
  text-align: center;
  min-height: 120;
  line-height: 120px;
  background-color: var(--background);
}

.footerStyle {
  text-align: center;
  background-color: var(--background);
}

.layoutStyle {
	overflow: "hidden";
  background-color: var(--background);
}